/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  font-family: proxima-nova,sans-serif;
}

button, summary { 
	cursor: pointer;
}


/* ALGEMENE SHIT  */

:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

body {
	color:white;
	background-color: #182026;
	margin:0;
	
  }

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

/* tekst shit  */
h2 {
	font-weight: 700;
	font-style: normal;
}

h3 {

	font-size:1.1em;
	font-weight: 400;
	font-style: normal;
}

p {
	max-width:75%;
	font-size:.8em;
	font-weight: 300;
	font-style: normal;
}


/* HEADER SHIT */

header {
	display: flex;
	justify-content:space-between;
}

/* logo */
header > a svg {
	width:12em;
	padding: 1em;
}

header > a svg path {
	fill:white;
}

header > a:hover svg path {
	fill:lightgrey;
}


/* main shit */


main section:nth-of-type(2), main section:nth-of-type(3), main section:nth-of-type(4) {
	background-color: #182026;
}

main section:nth-of-type(1) {
	padding:1em;
	min-height:22.75em;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	
}

main section:first-of-type img {
	width:auto;
    height:auto;
    max-width:150%;
	min-height: 26.6em;
    max-height:200vh;
	position:absolute;
    left:0;
    top:0;
    z-index:-1;
}

main section:nth-of-type(1) h2 {
	font-size: 1.5em;
	margin:0;
	
}

section:nth-of-type(2) {
	color:white;
	padding:1em;
	background-color:#182026;
	margin:0;

	padding:1em;

}

/* form input size */
main section:nth-of-type(1) form input{
	min-width:80%;
	padding:1em;
	display:flex;
}

/* knoppies verstoppen */
main section:nth-of-type(1) form label,
main section:nth-of-type(1) form button {
	/* 	https://www.a11yproject.com/posts/how-to-hide-content/ */
	position:fixed;
	left:-9999em;

}

@media (min-width:48em){
	main section:nth-of-type(1) h2 {
		font-size: 3em;
		
		
	}


}

/* styling zoek evenementen */

main section:nth-of-type(3) h2 {
	padding-left:1em;
	margin:0;
}

main section:nth-of-type(3) ul{
	/* display: grid;
	justify-content: center; */
	padding:0;
	background-color: #182026;
}

main section:nth-of-type(3) ul li{
	display:grid;
	grid-template-columns:5em 1fr;
	column-gap:0;
	margin:1em; 
	border-radius:1em;
	background-color: rgba(1, 0, 15, 0.528);
	max-width: 44em;
	
}

main section:nth-of-type(3) ul li:hover{
	background-color: rgba(82, 98, 171, 0.429);
}

main section:nth-of-type(3) ul li svg:nth-of-type(1){
	width:60%;

	grid-column-start:1;
	grid-row-start:1;
	grid-row-end:3;
	margin-left:.5em;
	margin-top:.5em;
	/* align-self:center;
	justify-self:center; */
	
	padding:.5em;
	border-radius:10px;
	background-color: orange;
}

main section:nth-of-type(3) ul li svg:nth-of-type(2){
	background-color: green;
	margin:10em;
}


main section:nth-of-type(3) ul li h3, 
main section:nth-of-type(3) ul li p{
	margin:0.3em;
	align-self: center;
}

main section:nth-of-type(3) ul li svg path{
	fill:white;
	
}

@media (min-width:48em) {
	main section:nth-of-type(2) {
		display: grid;
		justify-content: center;
	}

	main section:nth-of-type(3)> ul > li {
		width:37.5em;
	}

	main section:nth-of-type(3) ul{
		display: grid;
		justify-content: center;
	}
		
}

/* Styling interview plaatjes en text */

section:nth-of-type(4)> h2, section:nth-of-type(4)> p {
	margin:1rem;
}

section:nth-of-type(4) ul {
	display: grid;
	align-content: center;
	justify-content: center;
	gap:1em;
	list-style: none;
	margin:0;
	padding:1em;
	
}

section:nth-of-type(4) li {
	display: grid;
	align-content: center;
	gap:1em;
	height:16em;
	overflow: hidden;
	border-radius: 1em;
}

section:nth-of-type(4) a {
	display:block;
	position: relative;
	text-decoration: none;
	color:white;
}

section:nth-of-type(4) div {
	position:absolute;
	bottom:3.5em;
	left:1em;
	z-index: 100;
}

section:nth-of-type(4) div * {
	margin:0;
}

section:nth-of-type(4) img {
	display:block;
	
}

/* menu button */

header > button {
	background-image:
	linear-gradient(
		45deg,
		crimson,
		darkorange,
		gold,
		yellowgreen,
		dodgerblue,
		rebeccapurple,
		crimson,
		darkorange,
		gold,
		yellowgreen,
		dodgerblue,
		rebeccapurple,
		crimson
	);
	background-size: 200% 200%;

	animation-name: rainbow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-play-state: paused;
}

@media (prefers-reduced-motion:no-preference) {
	header > button {
		animation-play-state: running;
	}
}

@keyframes rainbow {
	0% {
		background-position:left bottom;
	}

	100% {
		background-position:right top;
	}
}

/* menu nav */
header > nav {
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: red;

	transform: translateX(100%);
}










/*********************/
/* CUSTOM PROPERTIES + HIDDEN STUFF*/
/*********************/




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */